{%- liquid
  assign enable_transparent_template_list = section.settings.enable_transparent_template_list | downcase | split: ', '
  assign transparent_header_enabled = false
  if section.settings.enable_transparent_on_home and template.name == 'index'
    assign transparent_header_enabled = true
  endif

  for template_item in enable_transparent_template_list
    if template_item contains '.'
      assign template_name = template_item | split: '.' | first
      assign suffix_name = template_item | split: '.' | last

      if template_name == template.name and suffix_name == template.suffix
        assign transparent_header_enabled = true
      endif
    else
      if template_item == template.name
        assign transparent_header_enabled = true
      endif
    endif

    if transparent_header_enabled
      break
    endif
  endfor
-%}

<script>
  {% # This is done here AND in the JS so it's responsive in the theme editor before the JS is loaded %}
  {% if section.settings.enable_sticky_header %}
    document.documentElement.classList.add("sticky-header-enabled");
  {% endif %}
  {% if transparent_header_enabled %}
    document.body.classList.add("header-transparent");
  {% endif %}
  {% if section.settings.layout == 'logo-center_nav-below' %}
    document.body.classList.add("quick-search-position-left");
  {% else %}
    document.body.classList.add("quick-search-position-right");
  {% endif %}
</script>
{%- liquid
  assign logo = section.settings.logo
  assign logo_width = section.settings.logo_width
  assign mobile_logo_width = section.settings.mobile_logo_width

  assign layout = section.settings.layout

  assign logo_position = 'center'

  if layout contains 'logo-left'
    assign logo_position = 'left'
  endif

  assign navigation_position = 'below'

  if layout contains 'nav-left'
    assign navigation_position = 'left'
  elsif layout contains 'nav-center'
    assign navigation_position = 'center'
  endif

  assign color_text_transparent = section.settings.color_text_transparent
  assign color_count_transparent = section.settings.color_count_transparent
  assign logo_transparent = section.settings.logo_transparent

  assign menu = section.settings.menu
  assign secondary_menu = section.settings.secondary_menu

  assign links = linklists[menu].links
  assign secondary_links = linklists[secondary_menu].links

  assign secondary_menu_valid = false

  if secondary_menu != blank and secondary_menu != menu
    assign secondary_menu_valid = true
  endif

  assign enable_locale_selector = section.settings.enable_locale_selector
  assign enable_country_selector = section.settings.enable_country_selector
  assign show_social_media = section.settings.show_social_media
  assign show_social_media_mobile = section.settings.show_social_media_mobile

  assign locale_selector = false
  assign country_selector = false

  if enable_locale_selector and shop.published_locales.size > 1
    assign locale_selector = true
  endif

  if enable_country_selector and localization.available_countries.size > 1
    assign country_selector = true
  endif

  capture logo_tag_type
    if request.page_type == 'index'
      echo 'h1'
    else
      echo 'span'
    endif
  endcapture
-%}

{%- capture logo_sizes -%}(max-width: 960px) {{ mobile_logo_width }}px, {{ logo_width }}px{%- endcapture -%}

{%- comment -%} theme-check-disable UnusedAssign {%- endcomment -%}
{%- assign font_logo = settings.font_logo -%}
{%- assign capitalize_logo = settings.capitalize_logo -%}
{%- assign logo_text_transform = settings.logo_text_transform -%}
{%- comment -%} theme-check-enable UnusedAssign {%- endcomment -%}

{%- assign mobile_menu_image_blocks = section.blocks | where: 'type', 'mobile_menu_images' -%}

{%- capture header_logo -%}
  <{{ logo_tag_type }} class="header__logo">
    <a
      class="header__logo-link"
      href="{{ routes.root_url }}"
      {% if logo != blank or logo_transparent != blank %}
        aria-label="{{ shop.name }}"
      {% endif %}
    >
      {%- if logo != blank -%}
        {%- render 'image' with image: logo, wrapper_class: 'regular-logo', sizes: logo_sizes, prioritize_loading: true -%}
      {%- endif -%}

      {%- if logo_transparent != blank -%}
        {%- render 'image' with image: logo_transparent, wrapper_class: 'transparent-logo', sizes: logo_sizes, prioritize_loading: true -%}
      {%- endif -%}

      {%- if logo == blank or logo_transparent == blank -%}
        <span class="header__logo-text">{{ shop.name }}</span>
      {%- endif -%}
    </a>
  </{{ logo_tag_type }}>
{%- endcapture -%}

{%- capture search_icon -%}
  <a
    class="
      header__icon-touch
      header__icon-touch--search
      {% if settings.enable_quick_search %}no-transition{% endif %}
    "
    href="{{ routes.search_url }}"
    {% if settings.enable_quick_search %}
      data-search
    {% endif %}
    aria-label="{{ 'general.accessibility.open_search' | t }}"
    aria-controls="MainQuickSearch"
    aria-expanded="false"
  >
    {% render 'icon-button' with icon: 'header-search' %}
    {% render 'icon-button' with icon: 'header-menu-close' %}
  </a>
{%- endcapture -%}

{%- capture account_icon -%}
  <a
    class="header__icon-touch header__icon-touch--account"
    href="{{ routes.account_url }}"
    aria-label="{{ 'general.accessibility.go_account' | t }}"
  >
    {% render 'icon-button' with icon: 'header-account' %}
  </a>
{%- endcapture -%}

{%- capture cart_icon -%}
  <a
    class="header__icon-touch no-transition"
    href="{{ routes.cart_url }}"
    aria-label="{{ 'general.accessibility.open_cart' | t }}"
    data-js-cart-icon="{{ section.settings.cart_icon }}"
  >
    {% assign cart_icon_name = 'header-shopping-[[ci]]' | replace: '[[ci]]', section.settings.cart_icon %}
    {% render 'icon-button', icon: cart_icon_name %}

    <span data-js-cart-count>{{ cart.item_count }}</span>
  </a>
{%- endcapture -%}

{%- capture primary_nav -%}
  <div
    class="header__links-primary-scroll-container"
    data-scroll-container
    data-at-start="true"
    data-at-end="{% if section.settings.layout == 'logo-center_nav-below' or section.settings.layout == 'logo-left_nav-below' %}true{% else %}false{% endif %}"
    data-axis="horizontal"
  >
    <button
      class="scroll-button"
      data-position="start"
      data-direction="backwards"
      title="{{ 'general.accessibility.previous' | t }}"
    >
      {% render 'icon' with icon: 'chevron' %}
    </button>
    <div class="scroll-overflow-indicator-wrap" data-position="start">
      <div class="scroll-overflow-indicator"></div>
    </div>
    <div data-scroll-container-viewport>
      <div class="scroll-sentinal scroll-sentinal--start" data-position="start"></div>
      <nav class="header__links header__links-primary" data-navigation style="padding-inline-start:0">
        {%- if menu == blank and secondary_menu != blank -%}
          {% render 'navigation' 
            with menu: secondary_links,
            blocks: section.blocks,
            featured_link_label: section.settings.featured_link_label %}
        {%- else -%}
          {% render 'navigation' 
            with menu: links,
            blocks: section.blocks,
            featured_link_label: section.settings.featured_link_label %}
        {%- endif -%}
      </nav>
      <div class="scroll-sentinal scroll-sentinal--end" data-position="end"></div>
    </div>
    <div class="scroll-overflow-indicator-wrap" data-position="end">
      <div class="scroll-overflow-indicator"></div>
    </div>
    <button
      class="scroll-button"
      data-position="end"
      data-direction="forwards"
      title="{{ 'general.accessibility.next' | t }}"
    >
      {% render 'icon' with icon: 'chevron' %}
    </button>
  </div>
{%- endcapture -%}

{%- capture secondary_nav -%}
  {%- if secondary_menu_valid -%}
    <nav class="header__links header__links-secondary" data-secondary-navigation>
      {% render 'navigation' with menu: secondary_links, no_children: true %}
    </nav>
  {%- endif -%}
{%- endcapture -%}

{%- capture menu_icon -%}
  <button
    class="header__menu-icon header__icon-touch header__icon-menu"
    aria-label="{{ 'general.accessibility.open_menu' | t }}"
    aria-expanded="false"
    data-aria-label-closed="{{ 'general.accessibility.open_menu' | t }}"
    data-aria-label-opened="{{ 'general.accessibility.close_menu' | t }}"
    data-js-menu-button
  >
    {% render 'icon-button' with icon: 'header-menu' %}
    {% render 'icon-button' with icon: 'header-menu-close' %}
  </button>
{%- endcapture -%}

{%- capture filler -%}<div class="header__filler"></div>{%- endcapture -%}

{%- capture localization_dropdowns -%}
  {%- if locale_selector or country_selector -%}
    <nav class="header__cross-border fs-body-50" data-secondary-navigation>
      {%
        render 'cross-border' with
        show_locale: locale_selector,
        show_country: country_selector,
        id: 'header',
        desktop_only: true
      %}
    </nav>
  {%- endif -%}
{%- endcapture -%}

{%- capture social_icons -%}
  {%- if show_social_media -%}
    {% render 'social-icons' %}
  {%- endif -%}
{%- endcapture -%}

{%- capture social_icons_mobile -%}
  {%- if show_social_media_mobile -%}
    {% render 'social-icons' %}
  {%- endif -%}
{%- endcapture -%}

{%- capture social_icons_and_second_menu -%}
  {{ social_icons }}
  {{ secondary_nav }}
{%- endcapture -%}

<header
  data-section-id="{{ section.id }}"
  data-section-type="header"
  {% if section.settings.enable_sticky_header %}
    data-enable-sticky-header="true"
  {% endif %}
  {% if transparent_header_enabled %}
    data-transparent-header="true"
  {% endif %}
  class="
    header
    header--layout-{{ layout | replace: "_", "-" }}
    {% if logo != blank -%}
      header--has-logo
    {%- endif %}
    {% if transparent_header_enabled %}
      header--transparent
    {% endif %}
    {% if logo_transparent != blank %}
      header--has-transparent-logo
    {% endif %}
    {% if shop.customer_accounts_enabled -%}
      header--has-accounts
    {%- endif %}
    {% if secondary_menu_valid -%}
      header--has-secondary-menu
    {%- endif %}
    {% if menu == blank and secondary_menu != blank -%}
      header--primary-menu-is-secondary
    {%- endif %}
    {% if settings.capitalize_navigation -%}
      header--navigation-is-all-caps
    {%- endif %}
    {% if social_icons != blank -%}
      header--has-social-links
    {%- endif %}
    {% if enable_locale_selector or enable_country_selector -%}
      header--has-country-or-locale
    {%- endif %}
  "
  {% if section.settings.enable_sticky_header %}
    data-is-sticky="true"
  {% endif %}
  data-navigation-position="{{ navigation_position }}"
  data-logo-position="{{ logo_position }}"
  style="
    --logo-width: {{ logo_width }}px;
    --mobile-logo-width: {{ mobile_logo_width }}px;
    --color-cart-count-transparent: {{ color_count_transparent }};
    --color-text-transparent: {{ color_text_transparent }};
    --divider-width: {{ section.settings.divider_width }};
    --color-text-featured-link: {{ section.settings.featured_link_color }};
  "
>
  <a href="#MainContent" class="header__skip-to-content btn btn--primary btn--small">
    {{ 'general.accessibility.skip_to_content' | t }}
  </a>

  <div class="header__inner">
    <div class="header__row header__row-desktop upper  ">
      <div class="header__row-segment header__row-segment-desktop left">
        {%- if logo_position == 'center' -%}
          {{ secondary_nav }}
        {%- else -%}
          {%- if navigation_position == 'below' -%}
            {{ header_logo }}
          {%- else -%}
            {{ filler }}
          {%- endif -%}
        {%- endif -%}
      </div>

      <div class="header__row-segment header__row-segment-desktop header__row-segment-desktop--logo-left right">
        {%- if logo_position == 'left' -%}
          {{ secondary_nav }}
        {%- endif -%}
        {{ social_icons }}
        {{ localization_dropdowns }}
      </div>
    </div>

    {%- if logo_position == 'center' and navigation_position == 'below' -%}
      <div class="header__row header__row-desktop logo-only">
        {{ header_logo }}
      </div>
    {%- endif -%}

    {%- capture lower_left_content -%}
      {%- if logo_position == 'center' and navigation_position == 'below' -%}
        {{ search_icon }}
      {%- elsif logo_position == 'center' and navigation_position == 'left' -%}
        {{ primary_nav }}
      {%- elsif logo_position == 'left' and navigation_position == 'below' -%}
        {{ primary_nav }}
      {%- elsif logo_position == 'left' and navigation_position == 'left' -%}
        {{ header_logo }}
        {{ primary_nav }}
      {%- elsif logo_position == 'left' and navigation_position == 'center' -%}
        {{ header_logo }}
      {%- endif -%}
    {%- endcapture -%}

    <div class="header__row header__row-desktop lower {% if logo_position == 'center' or navigation_position == 'center' %}three-segment{% endif %}">
      <div class="header__row-segment header__row-segment-desktop left {% if lower_left_content contains "header__links-list" %}contains-nav{% endif %}">
        {{ lower_left_content }}
      </div>

      {%- if logo_position == 'center' and navigation_position == 'below' -%}
        {{ primary_nav }}
      {%- elsif logo_position == 'center' and navigation_position == 'left' -%}
        {{ header_logo }}
      {%- elsif logo_position == 'left' and navigation_position == 'center' -%}
        {{ primary_nav }}
      {%- endif -%}

      <div class="header__row-segment header__row-segment-desktop right">
        {%- unless logo_position == 'center' and navigation_position == 'below' -%}
          {{ search_icon }}
        {%- endunless -%}
        {%- if shop.customer_accounts_enabled -%}
          {{ account_icon }}
        {%- endif -%}
        {{ cart_icon }}
      </div>
    </div>

    <div class="header__row header__row-mobile {% if logo_position == 'center' %}three-segment{% endif %}">
      {%- if logo_position == 'center' -%}
        <div class="header__row-segment left">
          {{ menu_icon }}
        </div>

        {{ header_logo }}

        <div class="header__row-segment right">
          {{ search_icon }}
          {%- if shop.customer_accounts_enabled -%}
            {{ account_icon }}
          {%- endif -%}
          {{ cart_icon }}
        </div>
      {%- else -%}
        <div class="header__row-segment left">
          {{ header_logo }}
        </div>

        <div class="header__row-segment right">
          {{ search_icon }}
          {{ cart_icon }}
          {{ menu_icon }}
        </div>
      {%- endif -%}
    </div>
  </div>

  <div class="no-js-menu no-js-menu--desktop">
    {% render 'no-js-navmenu' with menu: menu, secondary_menu: secondary_menu %}
  </div>

  {% render 'drawer-menu',
    links: links,
    secondary_links: secondary_links,
    locale_selector: locale_selector,
    country_selector: country_selector,
    mobile_menu_image_blocks: mobile_menu_image_blocks,
    social_icons_mobile: social_icons_mobile
  %}
</header>

<script>
  // Set heading height at component level
  const header = document.querySelector('[data-section-type="header"]');
  document.documentElement.style.setProperty('--height-header', header.offsetHeight + 'px');
</script>

{%- if settings.enable_confirmation_popup -%}
  <div
    class="
      purchase-confirmation-popup
      {% if settings.enable_section_animations %}
        animation
        animation--purchase-confirmation
      {% endif %}
    "
    data-purchase-confirmation-popup
  >
    <div class="purchase-confirmation-popup__inner"></div>
  </div>
{%- endif -%}

{% render 'flash-alert' %}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "header__outer-wrapper",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.header.settings.layout.label",
      "options": [
        {
          "value": "logo-center_nav-below",
          "label": "t:sections.header.settings.layout.options.logo-center_nav-below"
        },
        {
          "value": "logo-left_nav-left",
          "label": "t:sections.header.settings.layout.options.logo-left_nav-left"
        },
        {
          "value": "logo-left_nav-center",
          "label": "t:sections.header.settings.layout.options.logo-left_nav-center"
        },
        {
          "value": "logo-center_nav-left",
          "label": "t:sections.header.settings.layout.options.logo-center_nav-left"
        },
        {
          "value": "logo-left_nav-below",
          "label": "t:sections.header.settings.layout.options.logo-left_nav-below"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "default": true
    },
    {
      "type": "radio",
      "id": "cart_icon",
      "label": "t:sections.header.settings.cart_icon.label",
      "options": [
        {
          "value": "bag",
          "label": "t:sections.header.settings.cart_icon.options.bag"
        },
        {
          "value": "cart",
          "label": "t:sections.header.settings.cart_icon.options.cart"
        }
      ]
    },
    {
      "type": "select",
      "id": "divider_width",
      "label": "t:sections.shared.header.settings.divider_width.label",
      "options": [
        {
          "value": "0px",
          "label": "t:sections.shared.header.settings.divider_width.options.none"
        },
        {
          "value": "1px",
          "label": "t:sections.shared.header.settings.divider_width.options.thin"
        },
        {
          "value": "2px",
          "label": "t:sections.shared.header.settings.divider_width.options.thick"
        }
      ],
      "default": "2px"
    },
    {
      "type": "header",
      "content": "t:shared.settings.localization.locale_selector.header.content",
      "info": "t:shared.settings.localization.locale_selector.header.info"
    },
    {
      "type": "checkbox",
      "id": "enable_locale_selector",
      "label": "t:shared.settings.localization.locale_selector.enable_locale_selector.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:shared.settings.localization.country_selector.header.content",
      "info": "t:shared.settings.localization.country_selector.header.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "label": "t:shared.settings.localization.country_selector.enable_country_selector.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.social_media.header.content",
      "info": "t:sections.header.settings.social_media.header.info"
    },
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "t:sections.header.settings.social_media.show_social_media.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_social_media_mobile",
      "label": "t:sections.header.settings.social_media.show_social_media_mobile.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.shared.header.settings.logo.header.content"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.shared.header.settings.logo.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "t:sections.shared.header.settings.logo.logo_width.label",
      "min": 50,
      "max": 350,
      "step": 10,
      "unit": "px",
      "default": 200
    },
    {
      "type": "range",
      "id": "mobile_logo_width",
      "label": "t:sections.shared.header.settings.logo.mobile_logo_width.label",
      "min": 50,
      "max": 250,
      "step": 10,
      "unit": "px",
      "default": 200
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.navigation.header.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:sections.header.settings.navigation.menu.label",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "secondary_menu",
      "label": "t:sections.header.settings.navigation.secondary_menu.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.featured_link.header.content",
      "info": "t:sections.header.settings.featured_link.header.info"
    },
    {
      "type": "text",
      "id": "featured_link_label",
      "label": "t:sections.header.settings.featured_link.featured_link_label.label"
    },
    {
      "type": "color",
      "id": "featured_link_color",
      "label": "t:sections.header.settings.featured_link.featured_link_color.label",
      "default": "#DB4827"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.transparent_header.header.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.transparent_header.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_on_home",
      "label": "t:sections.header.settings.transparent_header.enable_transparent_on_home.label",
      "default": true
    },
    {
      "type": "textarea",
      "id": "enable_transparent_template_list",
      "label": "t:sections.header.settings.transparent_header.enable_transparent_template_list.label",
      "placeholder": "collection, product.landing, page.about",
      "info": "t:sections.header.settings.transparent_header.enable_transparent_template_list.info"
    },
    {
      "type": "image_picker",
      "id": "logo_transparent",
      "label": "t:sections.header.settings.transparent_header.logo_transparent.label",
      "info": "t:sections.header.settings.transparent_header.logo_transparent.info"
    },
    {
      "type": "color",
      "id": "color_text_transparent",
      "label": "t:sections.header.settings.transparent_header.color_text_transparent.label",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "color_count_transparent",
      "label": "t:sections.header.settings.transparent_header.color_count_transparent.label",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "compact_meganav",
      "name": "t:sections.header.blocks.compact_meganav.name",
      "settings": [
        {
          "type": "text",
          "id": "dropdown_parent_link",
          "label": "t:sections.header.blocks.shared.settings.dropdown_parent_link.label",
          "info": "t:sections.header.blocks.shared.settings.dropdown_parent_link.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.shared.settings.navigation.header.content"
        },
        {
          "type": "range",
          "id": "columns_width",
          "label": "t:sections.header.blocks.shared.settings.navigation.columns_width.label",
          "min": 180,
          "max": 600,
          "step": 10,
          "unit": "px",
          "default": 440
        },
        {
          "type": "range",
          "id": "column_count",
          "label": "t:sections.header.blocks.shared.settings.navigation.column_count.label",
          "min": 1,
          "max": 3,
          "step": 1,
          "default": 2
        },
        {
          "type": "checkbox",
          "id": "show_column_borders",
          "label": "t:sections.header.blocks.shared.settings.navigation.show_column_borders.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.shared.settings.promo.header.content"
        },
        {
          "type": "checkbox",
          "id": "show_promo",
          "label": "t:sections.header.blocks.shared.settings.promo.show_promo.label",
          "default": true
        },
        {
          "type": "range",
          "id": "promo_width",
          "label": "t:sections.header.blocks.shared.settings.promo.promo_width.label",
          "min": 180,
          "max": 600,
          "step": 10,
          "unit": "px",
          "default": 440
        },
        {
          "type": "range",
          "id": "promo_height",
          "label": "t:sections.header.blocks.shared.settings.promo.promo_height.label",
          "min": 250,
          "max": 600,
          "step": 10,
          "unit": "px",
          "default": 250
        },
        {
          "type": "select",
          "id": "secondary_position",
          "label": "t:sections.header.blocks.shared.settings.promo.secondary_position.label",
          "options": [
            {
              "value": "left",
              "label": "t:sections.header.blocks.shared.settings.promo.secondary_position.options.left"
            },
            {
              "value": "right",
              "label": "t:sections.header.blocks.shared.settings.promo.secondary_position.options.right"
            }
          ],
          "default": "right"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.header.blocks.shared.settings.promo.image.label"
        },
        {
          "type": "select",
          "id": "focal_point",
          "label": "t:shared.settings.focal_point.image.default.label",
          "options": [
            {
              "value": "image_presentation",
              "label": "t:shared.options.focal_point.image_presentation"
            },
            {
              "value": "center",
              "label": "t:shared.options.focal_point.center"
            },
            {
              "value": "top",
              "label": "t:shared.options.focal_point.top"
            },
            {
              "value": "bottom",
              "label": "t:shared.options.focal_point.bottom"
            },
            {
              "value": "left",
              "label": "t:shared.options.focal_point.left"
            },
            {
              "value": "right",
              "label": "t:shared.options.focal_point.right"
            }
          ],
          "default": "image_presentation"
        },
        {
          "type": "text",
          "id": "promo_text",
          "label": "t:sections.header.blocks.shared.settings.promo.promo_text.label",
          "default": "t:sections.header.blocks.shared.settings.promo.promo_text.default"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:shared.settings.button_link.label",
          "default": "/collections/all"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "t:shared.settings.button_link_text.label",
          "default": "t:sections.header.blocks.shared.settings.promo.link_text.default"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "t:sections.header.blocks.shared.settings.promo.text_position.label",
          "options": [
            {
              "value": "flex-start_flex-start",
              "label": "t:shared.options.alignment.full.top_left"
            },
            {
              "value": "center_flex-start",
              "label": "t:shared.options.alignment.full.top_center"
            },
            {
              "value": "flex-end_flex-start",
              "label": "t:shared.options.alignment.full.top_right"
            },
            {
              "value": "flex-start_center",
              "label": "t:shared.options.alignment.full.middle_left"
            },
            {
              "value": "center_center",
              "label": "t:shared.options.alignment.full.middle_center"
            },
            {
              "value": "flex-end_center",
              "label": "t:shared.options.alignment.full.middle_right"
            },
            {
              "value": "flex-start_flex-end",
              "label": "t:shared.options.alignment.full.bottom_left"
            },
            {
              "value": "center_flex-end",
              "label": "t:shared.options.alignment.full.bottom_center"
            },
            {
              "value": "flex-end_flex-end",
              "label": "t:shared.options.alignment.full.bottom_right"
            }
          ],
          "default": "flex-start_flex-end"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:shared.settings.color.general.text.label",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "color_overlay",
          "label": "t:shared.settings.overlay.overlay.label",
          "default": "#000000"
        },
        {
          "type": "color_background",
          "id": "color_overlay_gradient",
          "label": "t:shared.settings.overlay.overlay_gradient.label",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "t:shared.settings.overlay.overlay_opacity.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 30
        }
      ]
    },
    {
      "type": "full_width_meganav",
      "name": "t:sections.header.blocks.full_width_meganav.name",
      "settings": [
        {
          "type": "text",
          "id": "dropdown_parent_link",
          "label": "t:sections.header.blocks.shared.settings.dropdown_parent_link.label",
          "info": "t:sections.header.blocks.shared.settings.dropdown_parent_link.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.shared.settings.navigation.header.content"
        },
        {
          "type": "range",
          "id": "column_count",
          "label": "t:sections.header.blocks.shared.settings.navigation.column_count.label",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3
        },
        {
          "type": "checkbox",
          "id": "show_column_borders",
          "label": "t:sections.header.blocks.shared.settings.navigation.show_column_borders.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.shared.settings.promo.header.content"
        },
        {
          "type": "checkbox",
          "id": "show_promo",
          "label": "t:sections.header.blocks.shared.settings.promo.show_promo.label",
          "default": true
        },
        {
          "type": "range",
          "id": "promo_width",
          "label": "t:sections.header.blocks.shared.settings.promo.promo_width.label",
          "min": 180,
          "max": 700,
          "step": 10,
          "unit": "px",
          "default": 440
        },
        {
          "type": "range",
          "id": "promo_height",
          "label": "t:sections.header.blocks.shared.settings.promo.promo_height.label",
          "min": 250,
          "max": 600,
          "step": 10,
          "unit": "px",
          "default": 250
        },
        {
          "type": "select",
          "id": "secondary_position",
          "label": "t:sections.header.blocks.shared.settings.promo.secondary_position.label",
          "options": [
            {
              "value": "left",
              "label": "t:sections.header.blocks.shared.settings.promo.secondary_position.options.left"
            },
            {
              "value": "right",
              "label": "t:sections.header.blocks.shared.settings.promo.secondary_position.options.right"
            }
          ],
          "default": "right"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.header.blocks.shared.settings.promo.image.label"
        },
        {
          "type": "select",
          "id": "focal_point",
          "label": "t:shared.settings.focal_point.image.default.label",
          "options": [
            {
              "value": "image_presentation",
              "label": "t:shared.options.focal_point.image_presentation"
            },
            {
              "value": "center",
              "label": "t:shared.options.focal_point.center"
            },
            {
              "value": "top",
              "label": "t:shared.options.focal_point.top"
            },
            {
              "value": "bottom",
              "label": "t:shared.options.focal_point.bottom"
            },
            {
              "value": "left",
              "label": "t:shared.options.focal_point.left"
            },
            {
              "value": "right",
              "label": "t:shared.options.focal_point.right"
            }
          ],
          "default": "image_presentation"
        },
        {
          "type": "text",
          "id": "promo_text",
          "label": "t:sections.header.blocks.shared.settings.promo.promo_text.label",
          "default": "t:sections.header.blocks.shared.settings.promo.promo_text.default"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:shared.settings.button_link.label",
          "default": "/collections/all"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "t:shared.settings.button_link_text.label",
          "default": "t:sections.header.blocks.shared.settings.promo.link_text.default"
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "t:sections.header.blocks.shared.settings.promo.text_position.label",
          "options": [
            {
              "value": "flex-start_flex-start",
              "label": "t:shared.options.alignment.full.top_left"
            },
            {
              "value": "center_flex-start",
              "label": "t:shared.options.alignment.full.top_center"
            },
            {
              "value": "flex-end_flex-start",
              "label": "t:shared.options.alignment.full.top_right"
            },
            {
              "value": "flex-start_center",
              "label": "t:shared.options.alignment.full.middle_left"
            },
            {
              "value": "center_center",
              "label": "t:shared.options.alignment.full.middle_center"
            },
            {
              "value": "flex-end_center",
              "label": "t:shared.options.alignment.full.middle_right"
            },
            {
              "value": "flex-start_flex-end",
              "label": "t:shared.options.alignment.full.bottom_left"
            },
            {
              "value": "center_flex-end",
              "label": "t:shared.options.alignment.full.bottom_center"
            },
            {
              "value": "flex-end_flex-end",
              "label": "t:shared.options.alignment.full.bottom_right"
            }
          ],
          "default": "flex-start_flex-end"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:shared.settings.color.general.text.label",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "color_overlay",
          "label": "t:shared.settings.overlay.overlay.label",
          "default": "#000000"
        },
        {
          "type": "color_background",
          "id": "color_overlay_gradient",
          "label": "t:shared.settings.overlay.overlay_gradient.label",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "t:shared.settings.overlay.overlay_opacity.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 30
        }
      ]
    },
    {
      "type": "mobile_menu_images",
      "name": "t:sections.header.blocks.mobile_menu_images.name",
      "settings": [
        {
          "type": "text",
          "id": "menu_name",
          "label": "t:sections.header.blocks.mobile_menu_images.settings.menu_name.label",
          "info": "t:sections.header.blocks.mobile_menu_images.settings.menu_name.info"
        },
        {
          "type": "header",
          "content": "t:sections.header.blocks.mobile_menu_images.settings.thumbnails.header.content",
          "info": "t:sections.header.blocks.mobile_menu_images.settings.thumbnails.header.info"
        },
        {
          "type": "paragraph",
          "content": "t:sections.header.blocks.mobile_menu_images.settings.thumbnails.paragraph.content"
        },
        {
          "type": "select",
          "id": "aspect_ratio",
          "label": "t:sections.header.blocks.mobile_menu_images.settings.thumbnails.aspect_ratio.label",
          "options": [
            {
              "value": "natural",
              "label": "t:shared.options.aspect_ratio.natural"
            },
            {
              "value": "square",
              "label": "t:shared.options.aspect_ratio.square"
            },
            {
              "value": "portrait",
              "label": "t:shared.options.aspect_ratio.portrait"
            },
            {
              "value": "landscape",
              "label": "t:shared.options.aspect_ratio.landscape"
            }
          ],
          "default": "square"
        },
        {
          "type": "range",
          "id": "thumbnail_width",
          "label": "t:sections.header.blocks.mobile_menu_images.settings.thumbnails.thumbnail_width.label",
          "min": 30,
          "max": 80,
          "step": 1,
          "unit": "px",
          "default": 60
        }
      ]
    }
  ]
}
{% endschema %}
