{%- liquid
  assign overlay_opacity = section.settings.overlay_opacity | divided_by: 100.0
  assign horizontal_position = 'center'
  assign vertical_position = 'center'
  assign text_position_modifier = 'center'

  assign placeholder_aspect_ratio = 'no-ratio'

  if section.settings.image_aspect == 'original'
    assign placeholder_aspect_ratio = 'square'
  endif
-%}

<div
  class="
    password
    password--image-aspect-{{ section.settings.image_aspect }}
    password--text-{{ text_position_modifier }}
    section
    section--full-width
    {{ section.settings.section_padding }}
    {% if settings.enable_section_animations and section.settings.enable_animation %}
      animation
      animation--password
    {% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="password"
  style="
    --custom-height: {{ section.settings.desktop_height }}vh;
    --custom-height-mobile: {{ section.settings.mobile_height }}vh;
    --text-horizontal-position: {{ horizontal_position }};
    --text-vertical-position: {{ vertical_position }};
    --color-text: {{ section.settings.text_color }};
    --color-text-link: {{ section.settings.text_color }};
    --overlay-background: {{ section.settings.color_overlay }};
    {% if section.settings.color_overlay_gradient != blank %}
      --overlay-background-gradient: {{ section.settings.color_overlay_gradient }};
    {% endif %}
    --overlay-opacity: {{ overlay_opacity }};
  "
>
  <div class="password__inner">
    <div class="password__image-container">
      {%- if section.settings.image_mobile != blank -%}
        {%-
          render 'image' with
          wrapper_class: "password__image password__image--mobile",
          image: section.settings.image_mobile,
          sizes: "100vw",
          focal_point: section.settings.mobile_focal_point,
          animate: true
        -%}
      {%- endif -%}

      {%- render 'image',
        wrapper_class: 'password__image',
        image: section.settings.image,
        sizes: '100vw',
        focal_point: section.settings.focal_point,
        animate: true
      -%}
    </div>
    <div class="password__overlay"></div>
    <div class="password__text-container-wrapper">
      <div class="password__text-container">
        <div class="password__text-container-inner section-blocks animation--section-blocks">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'accent' -%}
                {%- unless block.settings.accent == blank -%}
                  <p class="password__text-container-accent fs-accent section-blocks__accent">
                    {{ block.settings.accent }}
                  </p>
                {%- endunless -%}
              {%- when 'heading' -%}
                {%- unless block.settings.title == blank -%}
                  <{{ block.settings.heading_tag }} class="password__text-container-heading ff-heading {{ block.settings.heading_font_class }} section-blocks__heading">
                    {{ block.settings.title }}
                  </{{ block.settings.heading_tag }}>
                {%- endunless -%}
              {%- when 'text' -%}
                {%- unless block.settings.text == blank -%}
                  <div class="password__text-container-text rte ff-body {{ block.settings.text_font_class }} section-blocks__text">
                    {{ block.settings.text }}
                  </div>
                {%- endunless -%}
              {%- when 'newsletter_signup' -%}
                {%- assign success_msg = 'general.password_page.signup_form_success' | t -%}

                <div
                  class="password__form-wrapper section-blocks__form"
                  data-collect-customer-name="{{ block.settings.enable_collect_customer_name }}"
                >
                  {% assign custom_button_label = 'general.password_page.signup_form_button_label' | t %}

                  {% render 'newsletter-form',
                    form_id: 'password-signup',
                    base_class: 'password__notify',
                    additional_form_classes: 'password__signup-form',
                    enable_collect_customer_name: block.settings.enable_collect_customer_name,
                    success_msg: success_msg,
                    form_tags: 'prospect, password page',
                    custom_button: true,
                    custom_button_id: 'Subscribe-password',
                    custom_button_class: 'password__signup-button',
                    custom_button_label: custom_button_label
                  %}
                </div>
              {%- when 'share_icons' -%}
                <div class="password__share-icons section-blocks__text">
                  {% render 'share-icons', url: shop.url, title: shop.name %}
                </div>
              {%- when 'social_icons' -%}
                {% render 'social-icons-block' %}
              {%- when 'spacer' -%}
                {%- render 'spacer-block' with space: block.settings.space -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_password.name",
  "tag": "section",
  "class": "shopify-section--full-width",
  "settings": [
    {
      "type": "radio",
      "id": "image_aspect",
      "label": "t:sections.main_password.settings.image_aspect.label",
      "options": [
        {
          "value": "original",
          "label": "t:shared.settings.image_height.image_aspect.options.original"
        },
        {
          "value": "custom",
          "label": "t:shared.settings.image_height.image_aspect.options.custom"
        }
      ],
      "default": "custom"
    },
    {
      "type": "range",
      "id": "desktop_height",
      "label": "t:shared.settings.image_height.desktop_height.label",
      "min": 25,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 100
    },
    {
      "type": "range",
      "id": "mobile_height",
      "label": "t:shared.settings.image_height.mobile_height.label",
      "min": 25,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "t:shared.settings.image_height.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.main_password.settings.background_image.header.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.main_password.settings.background_image.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.main_password.settings.background_image.image_mobile.label"
    },
    {
      "type": "select",
      "id": "focal_point",
      "label": "t:shared.settings.focal_point.image.default.label",
      "options": [
        {
          "value": "image_presentation",
          "label": "t:shared.options.focal_point.image_presentation"
        },
        {
          "value": "center",
          "label": "t:shared.options.focal_point.center"
        },
        {
          "value": "top",
          "label": "t:shared.options.focal_point.top"
        },
        {
          "value": "bottom",
          "label": "t:shared.options.focal_point.bottom"
        },
        {
          "value": "left",
          "label": "t:shared.options.focal_point.left"
        },
        {
          "value": "right",
          "label": "t:shared.options.focal_point.right"
        }
      ],
      "default": "image_presentation"
    },
    {
      "type": "select",
      "id": "mobile_focal_point",
      "label": "t:shared.settings.focal_point.image.mobile.label",
      "options": [
        {
          "value": "image_presentation",
          "label": "t:shared.options.focal_point.image_presentation"
        },
        {
          "value": "center",
          "label": "t:shared.options.focal_point.center"
        },
        {
          "value": "top",
          "label": "t:shared.options.focal_point.top"
        },
        {
          "value": "bottom",
          "label": "t:shared.options.focal_point.bottom"
        },
        {
          "value": "left",
          "label": "t:shared.options.focal_point.left"
        },
        {
          "value": "right",
          "label": "t:shared.options.focal_point.right"
        }
      ],
      "default": "image_presentation"
    },
    {
      "type": "header",
      "content": "t:shared.settings.color.header.content"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:shared.settings.color.general.text.label",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "color_overlay",
      "label": "t:shared.settings.overlay.overlay.label",
      "default": "#000000"
    },
    {
      "type": "color_background",
      "id": "color_overlay_gradient",
      "label": "t:shared.settings.overlay.overlay_gradient.label"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:shared.settings.overlay.overlay_opacity.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 80
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header.content"
    },
    {
      "type": "checkbox",
      "id": "enable_animation",
      "label": "t:shared.settings.section_style.enable_animation.label",
      "default": true,
      "info": "t:shared.settings.section_style.enable_animation.info"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "t:shared.settings.section_style.section_padding.label",
      "options": [
        {
          "value": "section--vertical-padding-none",
          "label": "t:shared.settings.section_style.section_padding.options.none"
        },
        {
          "value": "section--vertical-padding-top-bottom",
          "label": "t:shared.settings.section_style.section_padding.options.both"
        },
        {
          "value": "section--vertical-padding-top-only",
          "label": "t:shared.settings.section_style.section_padding.options.top"
        },
        {
          "value": "section--vertical-padding-bottom-only",
          "label": "t:shared.settings.section_style.section_padding.options.bottom"
        }
      ],
      "default": "section--vertical-padding-none"
    }
  ],
  "blocks": [
    {
      "type": "accent",
      "name": "t:shared.section_blocks.accent.name",
      "settings": [
        {
          "type": "text",
          "id": "accent",
          "label": "t:shared.section_blocks.accent.settings.accent.label",
          "default": "t:shared.section_blocks.accent.settings.accent.default"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:shared.section_blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:shared.section_blocks.heading.settings.title.label",
          "default": "t:sections.main_password.blocks.heading.settings.title.default"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "t:shared.settings.heading_tag.heading.label",
          "options": [
            {
              "value": "h2",
              "label": "t:shared.settings.heading_tag.options.h2"
            },
            {
              "value": "h3",
              "label": "t:shared.settings.heading_tag.options.h3"
            },
            {
              "value": "h4",
              "label": "t:shared.settings.heading_tag.options.h4"
            },
            {
              "value": "h5",
              "label": "t:shared.settings.heading_tag.options.h5"
            },
            {
              "value": "h6",
              "label": "t:shared.settings.heading_tag.options.h6"
            }
          ],
          "default": "h2"
        },
        {
          "type": "paragraph",
          "content": "t:shared.settings.heading_tag.heading.info"
        },
        {
          "type": "select",
          "id": "heading_font_class",
          "label": "t:shared.settings.heading_font_class.label",
          "options": [
            {
              "value": "fs-heading-display-3",
              "label": "t:shared.settings.heading_font_class.options.small"
            },
            {
              "value": "fs-heading-display-2",
              "label": "t:shared.settings.heading_font_class.options.medium"
            },
            {
              "value": "fs-heading-display-1",
              "label": "t:shared.settings.heading_font_class.options.large"
            }
          ],
          "default": "fs-heading-display-3"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:shared.section_blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:shared.section_blocks.text.settings.text.label",
          "default": "t:sections.main_password.blocks.text.settings.text.default"
        },
        {
          "type": "select",
          "id": "text_font_class",
          "label": "t:shared.settings.text_font_class.label",
          "options": [
            {
              "value": "fs-body-75",
              "label": "t:shared.settings.text_font_class.options.small"
            },
            {
              "value": "fs-body-100",
              "label": "t:shared.settings.text_font_class.options.regular"
            },
            {
              "value": "fs-body-200",
              "label": "t:shared.settings.text_font_class.options.large"
            }
          ],
          "default": "fs-body-100"
        }
      ]
    },
    {
      "type": "newsletter_signup",
      "name": "t:sections.main_password.blocks.newsletter_signup.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_collect_customer_name",
          "label": "t:shared.options.enable_collect_customer_name.label",
          "info": "t:shared.options.enable_collect_customer_name.info",
          "default": false
        }
      ]
    },
    {
      "type": "spacer",
      "name": "t:shared.section_blocks.spacer.name",
      "settings": [
        {
          "type": "range",
          "id": "space",
          "label": "t:shared.section_blocks.spacer.settings.space.label",
          "min": 4,
          "max": 64,
          "step": 4,
          "unit": "px",
          "default": 12
        }
      ]
    },
    {
      "type": "share_icons",
      "name": "t:sections.main_password.blocks.share_icons.name",
      "limit": 1
    },
    {
      "type": "social_icons",
      "name": "t:shared.section_blocks.social_icons.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:shared.section_blocks.social_icons.settings.paragraph.content"
        }
      ]
    }
  ]
}
{% endschema %}
