{%- liquid
  assign overlay_opacity = section.settings.overlay_opacity | divided_by: 100.0

  assign has_background = false

  if section.settings.background_color != blank and section.settings.background_color != 'rgba(0,0,0,0)' or section.settings.background_image != blank or overlay_opacity > 0
    assign has_background = true
  endif

  assign has_background_image = false
  if section.settings.background_image != blank or section.settings.background_image_mobile != blank
    assign has_background_image = true
  endif
-%}

{% capture section_classes %}
  section section--divider-{{ section.settings.divider_style }}
  {{ section.settings.section_padding }}
{% endcapture %}

<div
  class="
    newsletter-compact
    {% unless has_background %}
      {{ section_classes }}
    {% endunless %}
    newsletter-compact--spacing-mode-{{ section.settings.spacing_mode }}
    {% if settings.enable_section_animations and section.settings.enable_animation %}
      animation
      animation--newsletter-compact
    {% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="newsletter-compact"
  style="
    --color-background: {{ section.settings.background_color }};
    --color-text: {{ section.settings.text_color }};
    --color-text-link: {{ section.settings.text_color }};
    --color-text-input: {{ section.settings.input_color }};
    --color-background-input: {{ section.settings.input_background }};
    --overlay-background: {{ section.settings.color_overlay }};
    {% if section.settings.color_overlay_gradient != blank %}
      --overlay-background-gradient: {{ section.settings.color_overlay_gradient }};
    {% endif %}
    --overlay-opacity: {{ overlay_opacity }};
    {% render 'overlay-button-vars', color_button_text: section.settings.button_text_color, color_button_background: section.settings.button_background_color %}
    --max-signup-width: {{ section.settings.max_signup_width }}px;
    --max-block-content-width: {{ section.settings.max_block_content_width }}px;
    --text-alignment: {{ section.settings.alignment }};
  "
>
  <div
    class="
      newsletter-compact__inner
      {% if has_background %}
        {{ section_classes }}
      {% endif %}
    "
  >
    {%- if has_background_image -%}
      <div class="newsletter-compact__background-image-wrapper">
        {%- if section.settings.background_image_mobile != blank -%}
          {%- render 'image',
            wrapper_class: 'newsletter-compact__background-image newsletter-compact__background-image--mobile',
            image: section.settings.background_image_mobile,
            sizes: '100vw',
            focal_point: section.settings.focal_point_mobile
          -%}
        {%- endif -%}

        {%- if section.settings.background_image != blank -%}
          {%- render 'image',
            wrapper_class: 'newsletter-compact__background-image',
            image: section.settings.background_image,
            sizes: '100vw',
            focal_point: section.settings.focal_point
          -%}
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="newsletter-compact__overlay"></div>

    <div class="newsletter-compact__block-content section-blocks animation--section-blocks">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'newsletter_signup' -%}
            <div class="newsletter-compact__signup newsletter-compact__block-item section-blocks__newsletter-signup">
              {% render 'newsletter-form',
                form_id: 'newsletter-compact-subscribe',
                base_class: 'newsletter-compact__signup',
                button_label: block.settings.signup_link_text,
                enable_collect_customer_name: block.settings.enable_collect_customer_name
              %}

              {%- unless block.settings.footer_text == blank -%}
                <div class="newsletter-compact__signup-footer ff-body fs-body-50 rte">
                  {{ block.settings.footer_text }}
                </div>
              {%- endunless -%}
            </div>
            {%- unless block.settings.text == blank -%}
              <div class="newsletter-compact__block-content-text newsletter-compact__block-item rte ff-body {{ block.settings.text_font_class }} section-blocks__text">
                {{ block.settings.text }}
              </div>
            {%- endunless -%}
          {%- when 'text_content' -%}
            {%- if block.settings.title != blank
              or block.settings.text != blank
              or block.settings.subheading != blank
            -%}
              <div
                class="newsletter-compact__block-text-content section-blocks newsletter-compact__block-item"
                style="--max-width: {{ block.settings.width }}px;"
              >
                {%- unless block.settings.title == blank -%}
                  <{{ block.settings.heading_tag }} class="newsletter-compact__block-text-content-heading ff-heading {{ block.settings.heading_font_class }} section-blocks__heading">
                    {{ block.settings.title }}
                  </{{ block.settings.heading_tag }}>
                {%- endunless -%}
                {%- unless block.settings.subheading == blank -%}
                  <{{ block.settings.subheading_tag }} class="newsletter-compact__block-text-content-subheading newsletter-compact__block-item ff-subheading {{ block.settings.subheading_font_class }} section-blocks__subheading">
                    {{ block.settings.subheading }}
                  </{{ block.settings.subheading_tag }}>
                {%- endunless -%}
                {%- unless block.settings.text == blank -%}
                  <div class="newsletter-compact__block-text-content-text rte ff-body {{ block.settings.text_font_class }} section-blocks__text">
                    {{ block.settings.text }}
                  </div>
                {%- endunless -%}
              </div>
            {%- endif -%}
          {%- when 'image' -%}
            {%- render 'image-block',
              shopify_attributes: block.shopify_attributes,
              wrapper_class: 'newsletter-compact__block-content-image newsletter-compact__block-item section-blocks__image  section-blocks__image',
              image: block.settings.image,
              width: block.settings.image_size,
              mobile_width: block.settings.image_size_mobile,
              break_to_mobile_at: '720',
              align: section.settings.alignment
            -%}
          {%- when 'social_icons' -%}
            {% render 'social-icons-block',
              position: section.settings.alignment,
              classes: 'newsletter-compact__block-content-social-icons newsletter-compact__block-item'
            %}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter_compact.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "spacing_mode",
      "label": "t:sections.newsletter_compact.settings.spacing_mode.label",
      "options": [
        {
          "value": "compact",
          "label": "t:sections.newsletter_compact.settings.spacing_mode.options.compact"
        },
        {
          "value": "between",
          "label": "t:sections.newsletter_compact.settings.spacing_mode.options.between"
        },
        {
          "value": "evenly",
          "label": "t:sections.newsletter_compact.settings.spacing_mode.options.evenly"
        }
      ],
      "default": "between"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:sections.shared.newsletter.settings.alignment.label_compact",
      "options": [
        {
          "value": "left",
          "label": "t:sections.shared.newsletter.settings.alignment.options.left"
        },
        {
          "value": "center",
          "label": "t:sections.shared.newsletter.settings.alignment.options.center"
        },
        {
          "value": "right",
          "label": "t:sections.shared.newsletter.settings.alignment.options.right"
        }
      ],
      "default": "left"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.shared.newsletter.settings.background_image.label"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "t:sections.shared.newsletter.settings.background_image_mobile.label"
    },
    {
      "type": "select",
      "id": "focal_point",
      "label": "t:shared.settings.focal_point.image.default.label",
      "options": [
        {
          "value": "image_presentation",
          "label": "t:shared.options.focal_point.image_presentation"
        },
        {
          "value": "center",
          "label": "t:shared.options.focal_point.center"
        },
        {
          "value": "top",
          "label": "t:shared.options.focal_point.top"
        },
        {
          "value": "bottom",
          "label": "t:shared.options.focal_point.bottom"
        },
        {
          "value": "left",
          "label": "t:shared.options.focal_point.left"
        },
        {
          "value": "right",
          "label": "t:shared.options.focal_point.right"
        }
      ],
      "default": "image_presentation"
    },
    {
      "type": "select",
      "id": "focal_point_mobile",
      "label": "t:shared.settings.focal_point.image.mobile.label",
      "options": [
        {
          "value": "image_presentation",
          "label": "t:shared.options.focal_point.image_presentation"
        },
        {
          "value": "center",
          "label": "t:shared.options.focal_point.center"
        },
        {
          "value": "top",
          "label": "t:shared.options.focal_point.top"
        },
        {
          "value": "bottom",
          "label": "t:shared.options.focal_point.bottom"
        },
        {
          "value": "left",
          "label": "t:shared.options.focal_point.left"
        },
        {
          "value": "right",
          "label": "t:shared.options.focal_point.right"
        }
      ],
      "default": "image_presentation"
    },
    {
      "type": "header",
      "content": "t:shared.settings.color.header.content"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:shared.settings.color.general.background.label",
      "default": "#F5F5F5"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:shared.settings.color.general.text.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "input_color",
      "label": "t:shared.settings.color.input.color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "input_background",
      "label": "t:shared.settings.color.input.background.label",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "t:shared.settings.color.button.background.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "t:shared.settings.color.button.text.label",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "color_overlay",
      "label": "t:shared.settings.overlay.overlay.label",
      "default": "#000000"
    },
    {
      "type": "color_background",
      "id": "color_overlay_gradient",
      "label": "t:shared.settings.overlay.overlay_gradient.label"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:shared.settings.overlay.overlay_opacity.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header.content"
    },
    {
      "type": "checkbox",
      "id": "enable_animation",
      "label": "t:shared.settings.section_style.enable_animation.label",
      "default": true,
      "info": "t:shared.settings.section_style.enable_animation.info"
    },
    {
      "type": "select",
      "id": "divider_style",
      "label": "t:shared.settings.section_style.divider_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:shared.settings.section_style.divider_style.options.none"
        },
        {
          "value": "solid",
          "label": "t:shared.settings.section_style.divider_style.options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "t:shared.settings.section_style.section_padding.label",
      "options": [
        {
          "value": "section--vertical-padding-none",
          "label": "t:shared.settings.section_style.section_padding.options.none"
        },
        {
          "value": "section--vertical-padding-top-bottom",
          "label": "t:shared.settings.section_style.section_padding.options.both"
        },
        {
          "value": "section--vertical-padding-top-only",
          "label": "t:shared.settings.section_style.section_padding.options.top"
        },
        {
          "value": "section--vertical-padding-bottom-only",
          "label": "t:shared.settings.section_style.section_padding.options.bottom"
        }
      ],
      "default": "section--vertical-padding-top-bottom"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "newsletter_signup",
      "name": "t:sections.shared.newsletter.blocks.newsletter_signup.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_collect_customer_name",
          "label": "t:shared.options.enable_collect_customer_name.label",
          "info": "t:shared.options.enable_collect_customer_name.info",
          "default": false
        },
        {
          "type": "text",
          "id": "signup_link_text",
          "label": "t:sections.shared.newsletter.blocks.newsletter_signup.settings.signup_link_text.label",
          "default": "t:sections.shared.newsletter.blocks.newsletter_signup.settings.signup_link_text.default"
        },
        {
          "type": "richtext",
          "id": "footer_text",
          "label": "t:sections.shared.newsletter.blocks.newsletter_signup.settings.footer_text.label",
          "default": "t:sections.shared.newsletter.blocks.newsletter_signup.settings.footer_text.default"
        }
      ]
    },
    {
      "type": "text_content",
      "name": "t:sections.newsletter_compact.blocks.text_content.name",
      "settings": [
        {
          "type": "select",
          "id": "width",
          "label": "t:sections.newsletter_compact.blocks.text_content.settings.width.label",
          "options": [
            {
              "value": "unconstrained",
              "label": "t:sections.newsletter_compact.blocks.text_content.settings.width.options.unconstrained"
            },
            {
              "value": "600",
              "label": "t:sections.newsletter_compact.blocks.text_content.settings.width.options.wide"
            },
            {
              "value": "500",
              "label": "t:sections.newsletter_compact.blocks.text_content.settings.width.options.medium"
            },
            {
              "value": "400",
              "label": "t:sections.newsletter_compact.blocks.text_content.settings.width.options.narrow"
            }
          ],
          "default": "600"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.shared.newsletter.settings.title.label",
          "default": "t:sections.newsletter_compact.blocks.text_content.settings.title.default"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "t:shared.settings.heading_tag.heading.label",
          "options": [
            {
              "value": "h2",
              "label": "t:shared.settings.heading_tag.options.h2"
            },
            {
              "value": "h3",
              "label": "t:shared.settings.heading_tag.options.h3"
            },
            {
              "value": "h4",
              "label": "t:shared.settings.heading_tag.options.h4"
            },
            {
              "value": "h5",
              "label": "t:shared.settings.heading_tag.options.h5"
            },
            {
              "value": "h6",
              "label": "t:shared.settings.heading_tag.options.h6"
            }
          ],
          "default": "h2"
        },
        {
          "type": "paragraph",
          "content": "t:shared.settings.heading_tag.heading.info"
        },
        {
          "type": "select",
          "id": "heading_font_class",
          "label": "t:shared.settings.heading_font_class.label",
          "options": [
            {
              "value": "fs-heading-4-base",
              "label": "t:shared.settings.heading_font_class.options.small"
            },
            {
              "value": "fs-heading-3-base",
              "label": "t:shared.settings.heading_font_class.options.medium"
            },
            {
              "value": "fs-heading-2-base",
              "label": "t:shared.settings.heading_font_class.options.large"
            }
          ],
          "default": "fs-heading-4-base"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.shared.newsletter.settings.subheading.label"
        },
        {
          "type": "select",
          "id": "subheading_tag",
          "label": "t:shared.settings.heading_tag.subheading.label",
          "options": [
            {
              "value": "h2",
              "label": "t:shared.settings.heading_tag.options.h2"
            },
            {
              "value": "h3",
              "label": "t:shared.settings.heading_tag.options.h3"
            },
            {
              "value": "h4",
              "label": "t:shared.settings.heading_tag.options.h4"
            },
            {
              "value": "h5",
              "label": "t:shared.settings.heading_tag.options.h5"
            },
            {
              "value": "h6",
              "label": "t:shared.settings.heading_tag.options.h6"
            }
          ],
          "default": "h3"
        },
        {
          "type": "paragraph",
          "content": "t:shared.settings.heading_tag.subheading.info"
        },
        {
          "type": "select",
          "id": "subheading_font_class",
          "label": "t:shared.settings.subheading_font_class.label",
          "options": [
            {
              "value": "fs-heading-6-base",
              "label": "t:shared.settings.subheading_font_class.options.small"
            },
            {
              "value": "fs-heading-5-base",
              "label": "t:shared.settings.subheading_font_class.options.medium"
            },
            {
              "value": "fs-heading-4-base",
              "label": "t:shared.settings.subheading_font_class.options.large"
            }
          ],
          "default": "fs-heading-6-base"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.shared.newsletter.settings.text.label",
          "default": "t:sections.shared.newsletter.settings.text.default"
        },
        {
          "type": "select",
          "id": "text_font_class",
          "label": "t:shared.settings.text_font_class.label",
          "options": [
            {
              "value": "fs-body-75",
              "label": "t:shared.settings.text_font_class.options.small"
            },
            {
              "value": "fs-body-100",
              "label": "t:shared.settings.text_font_class.options.regular"
            },
            {
              "value": "fs-body-200",
              "label": "t:shared.settings.text_font_class.options.large"
            }
          ],
          "default": "fs-body-75"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:shared.section_blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:shared.section_blocks.image.settings.image.label"
        },
        {
          "type": "range",
          "id": "image_size",
          "label": "t:shared.section_blocks.image.settings.image_size.label",
          "min": 50,
          "max": 750,
          "step": 10,
          "unit": "px",
          "default": 200
        },
        {
          "type": "range",
          "id": "image_size_mobile",
          "label": "t:shared.section_blocks.image.settings.image_size_mobile.label",
          "min": 50,
          "max": 350,
          "step": 10,
          "unit": "px",
          "default": 200
        }
      ]
    },
    {
      "type": "social_icons",
      "name": "t:shared.section_blocks.social_icons.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:shared.section_blocks.social_icons.settings.paragraph.content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter_compact.presets.name",
      "blocks": [
        {
          "type": "text_content"
        },
        {
          "type": "newsletter_signup"
        }
      ]
    }
  ]
}
{% endschema %}
