{%- liquid
  assign overlay_opacity = section.settings.overlay_opacity | divided_by: 100.0

  assign has_background = false

  if section.settings.background_color != blank and section.settings.background_color != 'rgba(0,0,0,0)' or section.settings.background_image != blank or overlay_opacity > 0
    assign has_background = true
  endif

  assign has_background_image = false
  if section.settings.background_image != blank or section.settings.background_image_mobile != blank
    assign has_background_image = true
  endif
-%}

{%- capture section_classes -%}
  section
  {{ section.settings.section_padding }}
  section--divider-{{ section.settings.divider_style }}
{%- endcapture -%}

<div
  class="
    newsletter
    {% unless has_background %}
      {{ section_classes }}
    {% endunless %}
    newsletter--content-alignment-{{ section.settings.alignment }}
    {% if settings.enable_section_animations and section.settings.enable_animation %}
      animation
      animation--newsletter
    {% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="newsletter"
  style="
    {% if section.settings.content_width == 'custom' %}
      --content-width: {{ section.settings.custom_content_width }}px;
    {% endif %}
    --content-alignment: {{ section.settings.alignment }};
    --color-background: {{ section.settings.background_color }};
    --color-text: {{ section.settings.text_color }};
    --color-text-link: {{ section.settings.text_color }};
    --color-text-input: {{ section.settings.input_color }};
    --color-background-input: {{ section.settings.input_background }};
    --overlay-background: {{ section.settings.color_overlay }};
    {% if section.settings.color_overlay_gradient != blank %}
      --overlay-background-gradient: {{ section.settings.color_overlay_gradient }};
    {% endif %}
    --overlay-opacity: {{ overlay_opacity }};
    {% render 'overlay-button-vars', color_button_text: section.settings.button_text_color, color_button_background: section.settings.button_background_color %}
    --max-signup-width: {{ section.settings.max_signup_width }}px;
    --max-block-content-width: {{ section.settings.max_block_content_width }}px;
  "
>
  <div
    class="
      newsletter__inner
      {% if has_background %}
        {{ section_classes }}
      {% endif %}
    "
  >
    {%- if has_background_image -%}
      <div class="newsletter__background-image-wrapper">
        {%- if section.settings.background_image_mobile != blank -%}
          {%- render 'image',
            wrapper_class: 'newsletter__background-image newsletter__background-image--mobile',
            image: section.settings.background_image_mobile,
            sizes: '100vw',
            focal_point: section.settings.focal_point_mobile,
            animate: true
          -%}
        {%- endif -%}

        {%- if section.settings.background_image != blank -%}
          {%- render 'image',
            wrapper_class: 'newsletter__background-image',
            image: section.settings.background_image,
            sizes: '100vw',
            focal_point: section.settings.focal_point,
            animate: true
          -%}
        {%- endif -%}
      </div>
    {%- endif -%}
    <div class="newsletter__overlay"></div>

    <div class="newsletter__block-content section-blocks animation--section-blocks">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'newsletter_signup' -%}
            <div class="newsletter__signup section-blocks__newsletter-signup">
              {% render 'newsletter-form',
                form_id: 'newsletter-subscribe',
                base_class: 'newsletter__signup',
                button_label: block.settings.signup_link_text,
                enable_collect_customer_name: block.settings.enable_collect_customer_name
              %}
            </div>
          {%- when 'accent' -%}
            {%- unless block.settings.accent == blank -%}
              <p class="newsletter__block-content-accent fs-accent section-blocks__accent">
                {{ block.settings.accent }}
              </p>
            {%- endunless -%}
          {%- when 'heading' -%}
            {%- unless block.settings.title == blank -%}
              <{{ block.settings.heading_tag }} class="newsletter__block-content-heading ff-heading {{ block.settings.heading_font_class }} section-blocks__heading">
                {{ block.settings.title }}
              </{{ block.settings.heading_tag }}>
            {%- endunless -%}
          {%- when 'subheading' -%}
            {%- unless block.settings.subheading == blank -%}
              <{{ block.settings.subheading_tag }} class="newsletter__block-content-subheading ff-subheading {{ block.settings.subheading_font_class }} section-blocks__subheading">
                {{ block.settings.subheading }}
              </{{ block.settings.subheading_tag }}>
            {%- endunless -%}
          {%- when 'text' -%}
            {%- unless block.settings.text == blank -%}
              <div class="newsletter__block-content-text rte ff-body {{ block.settings.text_font_class }} section-blocks__text">
                {{ block.settings.text }}
              </div>
            {%- endunless -%}
          {%- when 'image' -%}
            {%- render 'image-block',
              shopify_attributes: block.shopify_attributes,
              wrapper_class: 'newsletter__block-content-image section-blocks__image  section-blocks__image',
              image: block.settings.image,
              width: block.settings.image_size,
              mobile_width: block.settings.image_size_mobile,
              break_to_mobile_at: '720',
              align: section.settings.alignment
            -%}
          {%- when 'border' -%}
            {%- render 'border-block' -%}
          {%- when 'spacer' -%}
            {%- render 'spacer-block', space: block.settings.space -%}
          {%- when 'social_icons' -%}
            {% render 'social-icons-block', position: section.settings.alignment %}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "alignment",
      "label": "t:sections.shared.newsletter.settings.alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.shared.newsletter.settings.alignment.options.left"
        },
        {
          "value": "center",
          "label": "t:sections.shared.newsletter.settings.alignment.options.center"
        },
        {
          "value": "right",
          "label": "t:sections.shared.newsletter.settings.alignment.options.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.shared.newsletter.settings.background_image.label"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "t:sections.shared.newsletter.settings.background_image_mobile.label"
    },
    {
      "type": "select",
      "id": "focal_point",
      "label": "t:shared.settings.focal_point.image.default.label",
      "options": [
        {
          "value": "image_presentation",
          "label": "t:shared.options.focal_point.image_presentation"
        },
        {
          "value": "center",
          "label": "t:shared.options.focal_point.center"
        },
        {
          "value": "top",
          "label": "t:shared.options.focal_point.top"
        },
        {
          "value": "bottom",
          "label": "t:shared.options.focal_point.bottom"
        },
        {
          "value": "left",
          "label": "t:shared.options.focal_point.left"
        },
        {
          "value": "right",
          "label": "t:shared.options.focal_point.right"
        }
      ],
      "default": "image_presentation"
    },
    {
      "type": "select",
      "id": "focal_point_mobile",
      "label": "t:shared.settings.focal_point.image.mobile.label",
      "options": [
        {
          "value": "image_presentation",
          "label": "t:shared.options.focal_point.image_presentation"
        },
        {
          "value": "center",
          "label": "t:shared.options.focal_point.center"
        },
        {
          "value": "top",
          "label": "t:shared.options.focal_point.top"
        },
        {
          "value": "bottom",
          "label": "t:shared.options.focal_point.bottom"
        },
        {
          "value": "left",
          "label": "t:shared.options.focal_point.left"
        },
        {
          "value": "right",
          "label": "t:shared.options.focal_point.right"
        }
      ],
      "default": "image_presentation"
    },
    {
      "type": "header",
      "content": "t:shared.settings.color.header.content"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:shared.settings.color.general.background.label",
      "default": "#F5F5F5"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:shared.settings.color.general.text.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "input_color",
      "label": "t:shared.settings.color.input.color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "input_background",
      "label": "t:shared.settings.color.input.background.label",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "t:shared.settings.color.button.background.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "t:shared.settings.color.button.text.label",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "color_overlay",
      "label": "t:shared.settings.overlay.overlay.label",
      "default": "#000000"
    },
    {
      "type": "color_background",
      "id": "color_overlay_gradient",
      "label": "t:shared.settings.overlay.overlay_gradient.label"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:shared.settings.overlay.overlay_opacity.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header.content"
    },
    {
      "type": "checkbox",
      "id": "enable_animation",
      "label": "t:shared.settings.section_style.enable_animation.label",
      "default": true,
      "info": "t:shared.settings.section_style.enable_animation.info"
    },
    {
      "type": "select",
      "id": "divider_style",
      "label": "t:shared.settings.section_style.divider_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:shared.settings.section_style.divider_style.options.none"
        },
        {
          "value": "solid",
          "label": "t:shared.settings.section_style.divider_style.options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "t:shared.settings.section_style.section_padding.label",
      "options": [
        {
          "value": "section--vertical-padding-none",
          "label": "t:shared.settings.section_style.section_padding.options.none"
        },
        {
          "value": "section--vertical-padding-top-bottom",
          "label": "t:shared.settings.section_style.section_padding.options.both"
        },
        {
          "value": "section--vertical-padding-top-only",
          "label": "t:shared.settings.section_style.section_padding.options.top"
        },
        {
          "value": "section--vertical-padding-bottom-only",
          "label": "t:shared.settings.section_style.section_padding.options.bottom"
        }
      ],
      "default": "section--vertical-padding-top-bottom"
    },
    {
      "type": "radio",
      "id": "content_width",
      "label": "t:shared.settings.section_style.content_width.label",
      "options": [
        {
          "value": "full",
          "label": "t:shared.settings.section_style.content_width.options.full"
        },
        {
          "value": "custom",
          "label": "t:shared.settings.section_style.content_width.options.custom"
        }
      ],
      "default": "custom"
    },
    {
      "type": "range",
      "id": "custom_content_width",
      "label": "t:shared.settings.section_style.custom_content_width.label",
      "min": 400,
      "max": 1000,
      "step": 50,
      "unit": "px",
      "default": 700
    }
  ],
  "blocks": [
    {
      "type": "newsletter_signup",
      "name": "t:sections.shared.newsletter.blocks.newsletter_signup.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_collect_customer_name",
          "label": "t:shared.options.enable_collect_customer_name.label",
          "info": "t:shared.options.enable_collect_customer_name.info",
          "default": false
        },
        {
          "type": "text",
          "id": "signup_link_text",
          "label": "t:sections.shared.newsletter.blocks.newsletter_signup.settings.signup_link_text.label",
          "default": "t:sections.shared.newsletter.blocks.newsletter_signup.settings.signup_link_text.default"
        }
      ]
    },
    {
      "type": "accent",
      "name": "t:shared.section_blocks.accent.name",
      "settings": [
        {
          "type": "text",
          "id": "accent",
          "label": "t:shared.section_blocks.accent.settings.accent.label",
          "default": "t:shared.section_blocks.accent.settings.accent.default"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:shared.section_blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:shared.section_blocks.heading.settings.title.label",
          "default": "t:sections.newsletter.blocks.heading.settings.title.default"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "t:shared.settings.heading_tag.heading.label",
          "options": [
            {
              "value": "h2",
              "label": "t:shared.settings.heading_tag.options.h2"
            },
            {
              "value": "h3",
              "label": "t:shared.settings.heading_tag.options.h3"
            },
            {
              "value": "h4",
              "label": "t:shared.settings.heading_tag.options.h4"
            },
            {
              "value": "h5",
              "label": "t:shared.settings.heading_tag.options.h5"
            },
            {
              "value": "h6",
              "label": "t:shared.settings.heading_tag.options.h6"
            }
          ],
          "default": "h2"
        },
        {
          "type": "paragraph",
          "content": "t:shared.settings.heading_tag.heading.info"
        },
        {
          "type": "select",
          "id": "heading_font_class",
          "label": "t:shared.settings.heading_font_class.label",
          "options": [
            {
              "value": "fs-heading-4-base",
              "label": "t:shared.settings.heading_font_class.options.small"
            },
            {
              "value": "fs-heading-3-base",
              "label": "t:shared.settings.heading_font_class.options.medium"
            },
            {
              "value": "fs-heading-2-base",
              "label": "t:shared.settings.heading_font_class.options.large"
            }
          ],
          "default": "fs-heading-3-base"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:shared.section_blocks.subheading.name",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "t:shared.section_blocks.subheading.settings.subheading.label",
          "default": "t:sections.newsletter.blocks.subheading.settings.subheading.default"
        },
        {
          "type": "select",
          "id": "subheading_tag",
          "label": "t:shared.settings.heading_tag.subheading.label",
          "options": [
            {
              "value": "h2",
              "label": "t:shared.settings.heading_tag.options.h2"
            },
            {
              "value": "h3",
              "label": "t:shared.settings.heading_tag.options.h3"
            },
            {
              "value": "h4",
              "label": "t:shared.settings.heading_tag.options.h4"
            },
            {
              "value": "h5",
              "label": "t:shared.settings.heading_tag.options.h5"
            },
            {
              "value": "h6",
              "label": "t:shared.settings.heading_tag.options.h6"
            }
          ],
          "default": "h3"
        },
        {
          "type": "paragraph",
          "content": "t:shared.settings.heading_tag.subheading.info"
        },
        {
          "type": "select",
          "id": "subheading_font_class",
          "label": "t:shared.settings.subheading_font_class.label",
          "options": [
            {
              "value": "fs-heading-6-base",
              "label": "t:shared.settings.subheading_font_class.options.small"
            },
            {
              "value": "fs-heading-5-base",
              "label": "t:shared.settings.subheading_font_class.options.medium"
            },
            {
              "value": "fs-heading-4-base",
              "label": "t:shared.settings.subheading_font_class.options.large"
            }
          ],
          "default": "fs-heading-5-base"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:shared.section_blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:shared.section_blocks.text.settings.text.label",
          "default": "t:sections.shared.newsletter.settings.text.default"
        },
        {
          "type": "select",
          "id": "text_font_class",
          "label": "t:shared.settings.text_font_class.label",
          "options": [
            {
              "value": "fs-body-75",
              "label": "t:shared.settings.text_font_class.options.small"
            },
            {
              "value": "fs-body-100",
              "label": "t:shared.settings.text_font_class.options.regular"
            },
            {
              "value": "fs-body-200",
              "label": "t:shared.settings.text_font_class.options.large"
            }
          ],
          "default": "fs-body-100"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:shared.section_blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:shared.section_blocks.image.settings.image.label"
        },
        {
          "type": "range",
          "id": "image_size",
          "label": "t:shared.section_blocks.image.settings.image_size.label",
          "min": 50,
          "max": 750,
          "step": 10,
          "unit": "px",
          "default": 200
        },
        {
          "type": "range",
          "id": "image_size_mobile",
          "label": "t:shared.section_blocks.image.settings.image_size_mobile.label",
          "min": 50,
          "max": 350,
          "step": 10,
          "unit": "px",
          "default": 200
        }
      ]
    },
    {
      "type": "social_icons",
      "name": "t:shared.section_blocks.social_icons.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:shared.section_blocks.social_icons.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "border",
      "name": "t:shared.section_blocks.border.name"
    },
    {
      "type": "spacer",
      "name": "t:shared.section_blocks.spacer.name",
      "settings": [
        {
          "type": "range",
          "id": "space",
          "label": "t:shared.section_blocks.spacer.settings.space.label",
          "min": 4,
          "max": 64,
          "step": 4,
          "unit": "px",
          "default": 12
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name",
      "blocks": [
        {
          "type": "spacer",
          "settings": {
            "space": 40
          }
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "spacer",
          "settings": {
            "space": 4
          }
        },
        {
          "type": "newsletter_signup"
        },
        {
          "type": "spacer",
          "settings": {
            "space": 40
          }
        }
      ]
    }
  ]
}
{% endschema %}
