{%- liquid
  assign page_chosen = false
  if section.settings.page != blank
    assign page_chosen = true
  endif
-%}

<div
  data-section-id="{{ section.id }}"
  data-section-type="page"
  class="
    page-section
    section
    section--divider-{{ section.settings.divider_style }}
    {{ section.settings.section_padding }}
    {% if settings.enable_section_animations and section.settings.enable_animation %}
      animation
      animation--page
    {% endif %}
  "
  style="
    {% if section.settings.content_width == 'custom' %}
      --content-width: {{ section.settings.custom_content_width }}px;
    {% endif %}
    --heading-alignment: {{ section.settings.heading_alignment }};
  "
>
  <div class="page-section__inner">
    <{{ section.settings.heading_tag }} class="page-section__heading ff-heading {{ section.settings.heading_font_class }}">
      {{ section.settings.title }}
    </{{ section.settings.heading_tag }}>
    <div class="page-section__text rte ff-body {{ block.settings.text_font_class }}">
      {% if page_chosen %}
        {{ section.settings.page.content }}
      {% else %}
        <div class="page-section__placeholder-wrapper placeholder">
          {{ 'page' | placeholder_svg_tag: 'page-placeholder' }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.page_section.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.page_section.settings.title.label",
      "default": "t:sections.page_section.settings.title.default"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "t:shared.settings.heading_tag.heading.label",
      "options": [
        {
          "value": "h2",
          "label": "t:shared.settings.heading_tag.options.h2"
        },
        {
          "value": "h3",
          "label": "t:shared.settings.heading_tag.options.h3"
        },
        {
          "value": "h4",
          "label": "t:shared.settings.heading_tag.options.h4"
        },
        {
          "value": "h5",
          "label": "t:shared.settings.heading_tag.options.h5"
        },
        {
          "value": "h6",
          "label": "t:shared.settings.heading_tag.options.h6"
        }
      ],
      "default": "h2"
    },
    {
      "type": "paragraph",
      "content": "t:shared.settings.heading_tag.heading.info"
    },
    {
      "type": "select",
      "id": "heading_font_class",
      "label": "t:shared.settings.heading_font_class.label",
      "options": [
        {
          "value": "fs-heading-4-base",
          "label": "t:shared.settings.heading_font_class.options.small"
        },
        {
          "value": "fs-heading-3-base",
          "label": "t:shared.settings.heading_font_class.options.medium"
        },
        {
          "value": "fs-heading-2-base",
          "label": "t:shared.settings.heading_font_class.options.large"
        }
      ],
      "default": "fs-heading-3-base"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "t:shared.settings.alignment_horizontal.heading.label",
      "options": [
        {
          "value": "left",
          "label": "t:shared.options.alignment.horizontal.left"
        },
        {
          "value": "center",
          "label": "t:shared.options.alignment.horizontal.center"
        }
      ],
      "default": "left"
    },
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.page_section.settings.page.label"
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header.content"
    },
    {
      "type": "checkbox",
      "id": "enable_animation",
      "label": "t:shared.settings.section_style.enable_animation.label",
      "default": true,
      "info": "t:shared.settings.section_style.enable_animation.info"
    },
    {
      "type": "select",
      "id": "divider_style",
      "label": "t:shared.settings.section_style.divider_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:shared.settings.section_style.divider_style.options.none"
        },
        {
          "value": "solid",
          "label": "t:shared.settings.section_style.divider_style.options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "t:shared.settings.section_style.section_padding.label",
      "options": [
        {
          "value": "section--vertical-padding-none",
          "label": "t:shared.settings.section_style.section_padding.options.none"
        },
        {
          "value": "section--vertical-padding-top-bottom",
          "label": "t:shared.settings.section_style.section_padding.options.both"
        },
        {
          "value": "section--vertical-padding-top-only",
          "label": "t:shared.settings.section_style.section_padding.options.top"
        },
        {
          "value": "section--vertical-padding-bottom-only",
          "label": "t:shared.settings.section_style.section_padding.options.bottom"
        }
      ],
      "default": "section--vertical-padding-top-bottom"
    },
    {
      "type": "radio",
      "id": "content_width",
      "label": "t:shared.settings.section_style.content_width.label",
      "options": [
        {
          "value": "full",
          "label": "t:shared.settings.section_style.content_width.options.full"
        },
        {
          "value": "custom",
          "label": "t:shared.settings.section_style.content_width.options.custom"
        }
      ],
      "default": "custom"
    },
    {
      "type": "range",
      "id": "custom_content_width",
      "label": "t:shared.settings.section_style.custom_content_width.label",
      "min": 400,
      "max": 1000,
      "step": 50,
      "unit": "px",
      "default": 700
    }
  ],
  "presets": [
    {
      "name": "t:sections.page_section.presets.name"
    }
  ]
}
{% endschema %}
